/* GLOBAL RULES */

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1024px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* background-color: lightblue; */
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 62px;
  width: 117px;
  margin-bottom: 100px;
}

.tv-show {
  display: flex;
  width: 600px;
}

.time {
  font-weight: 700;
  font-size: 12px;
  flex: 0.8;
  display: flex;
  align-items: center;
}

.image {
  flex: 0.8;
}

.info {
  flex: 5;
}

.title {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 15px;
}

.type {
  color: black;
  font-size: 12px;
  line-height: 15px;
}

.duration {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.direct {
  font-size: 12px;
  color: #ff014b;
  line-height: 15px;
}

.unseen {
  font-size: 12px;
  line-height: 15px;
}

.details {
  display: flex;
  gap: 10px;
  line-height: 15px;
}

hr {
  border: 1px solid #e5e5e5;
}
